:root {
    --link:#000;
    --hover:#b00;
    --main:#000;
    --bg:#f0f0f0;
    --scrollColor: #b3d9ff;
    --size:99vmin;
    --ratio: 1 / 1.1;
    
}

html{
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family: tahoma;
    color: var(--main);   
}

a {
    text-decoration: none;
    color:#000;
}

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    padding: 40px 0;
}

.container {
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 350px;
    top: 230px;
    left: 0px;
    background: #b3d9ff;
    z-index: -1;
}

.logo {
    margin-top: 15px;
    margin-left: 300px;
    align-self: center;
    width: 247px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition: all 0.2s;
}

.logo:hover {
    background: var(--main);
    color: var(--bg);
}

nav {
    display: flex;
}

nav {
    display: inline-block;
    color: #000;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
    margin-right: 10px;
}

nav a:hover {
    color: gray;
    cursor: pointer;
}

.intro {
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 1rem;
    margin-top: -25px;
    /* text-transform: uppercase; */
    font-weight: bold;
}

.intro-title {
    color: var(--main);
    font-size: 5rem;
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-top: 10vmin;
    margin-bottom: 1vmin;

}

/* .intro p{
    font-size: 12px;
} */

.intro-subtitle { 
    color: var(--main);
    font-style: italic;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0vmin;
    margin-bottom: 5vmin;
}

.btn { 
    height: 50px;
    width: 50px;
    padding: 5px;
    text-align: center; 
    border-radius: 50%;
    display: inline-block;
    color:black;
    font-size:2.6em;
    font-weight:600;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);

    margin-top: 200px;
    margin-bottom: 170px;
}

.btn:hover {
    background-color: #000;
    color: var(--bg);

}

section .learnmore {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

section .learnmore[data-scroll="in"] {
    transform: scaleX(1);
}

section .learnmore[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

section .learnmore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scrollColor);
    transform-origin: right;
    transition: 0.5s;
}

section .learnmore1 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

section .learnmore1[data-scroll="in"] {
    transform: scaleX(1);
}

section .learnmore1[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

section .learnmore1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scrollColor);
    transform-origin: right;
    transition: 0.5s;
}

section .learnmore2 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

section .learnmore2[data-scroll="in"] {
    transform: scaleX(1);
}

section .learnmore2[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

section .learnmore2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scrollColor);
    transform-origin: right;
    transition: 0.5s;
}

section .learnmore3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

section .learnmore3[data-scroll="in"] {
    transform: scaleX(1);
}

section .learnmore3[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

section .learnmore3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scrollColor);
    transform-origin: right;
    transition: 0.5s;
}

.learnmore {
    background-color: white;
    margin-bottom: 500px;
}

.learnmore1 {
    text-align: center;
    margin-bottom: 500px;
}

.learnmore2 {
    background-color: white;
    text-align: center;
    margin-bottom: 500px;
}

.learnmore3 {
    text-align: center;
    margin-bottom: 500px;
}
